@if (currentSlide(); as slide) {
<section class="hero">


    <div class="hero-track" [style.transform]="'translateX(-' + currentIndex() * 100 +'%)'"
        [class.no-transition]="!transitionEnabled()" (transitionend)="onTransitionEnd()">
        @for (heroSlide of carouselSlides(); track $index) {
        <img [src]="'http://localhost:3000/images/' + heroSlide.heroImage" [alt]="heroSlide.vehicle.name" />
        }
    </div>

    <div class="hero-info">
        <p class="manufacturer">{{ slide.vehicle.manufacturer }}</p>
        <p class="vehicle-name">{{ slide.vehicle.name }}</p>
        <p class="price">€$ {{ slide.vehicle.price | number }}</p>
        <button>Explore Vehicle</button>
    </div>

    <button class="hero-arrow hero-arrow-left " (click)="previousSlide()">
        < </button>
            <button class="hero-arrow hero-arrow-right " (click)="nextSlide()">
                >
            </button>
</section>
}