<article class="vehicle-card">
    <div class="vehicle-image">
        <img [src]="'http://localhost:3000/images/' + vehicle().imageUrl" [alt]="vehicle().name">
    </div>

    <div class="vehicle-info">
        <div class="vehicle-meta">
            <p class="manufacturer">{{ vehicle().manufacturer }}</p>
            <p class="vehicle-class">{{ vehicle().vehicleClass }}</p>
        </div>

        <h3>{{ vehicle().name }}</h3>

        <p class="price">€$ {{ vehicle().price | number }}</p>

        <button class="explore-button">
            Explore Vehicle <span>→</span>
        </button>
    </div>
</article>